body {
    font-family: 'Arial', sans-serif;
    margin: 0;
}

.interactive-bar {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex; /* Make the list items flex containers */
    justify-content: center; /* Center the items horizontally */
}

nav li {
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #2980b9;
}

.main-content {
    padding: 20px;
}