table {
    width: 20%;
    border-collapse: collapse;
    margin-top: 10px;
}

td {
    border: 1px 
    padding: 10px;
    color: black;
    text-align: center;
    
}

th {
    background-color: #000000;
    color: white;
    font
}


body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-image: url(forest.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.interactive-bar {
    background-color: rgb(18, 25, 30);
    color: #fff;
    padding: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: rgb(141, 26, 32);
}

.main-content {
    padding: 20px;
}

section {
    padding: 20px;
    text-align: center;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.grid-item {
    width: 300px; 
    margin: 15px;
    text-align: center;
}

.grid-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}


footer {

    align-items: center;
}

